* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rodape{
    font-family:'Times New Roman', Times, serif;
    font-size: 0.9em;
    color: black;
    text-align:center;
    bottom: 0;
    width: 100%;
    height: 4%;
    position:fixed;
    background-color:#d099e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape > h4 {
    font-weight: normal;
}

body{
    background-color: #bebebe;
    height: 100vh;
}

header > .interface{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d099e7;  
    position: absolute;  
    top: 0;
    width: 100%;
    height: 10%;  
    border-radius: p1x;
    box-shadow: 0 0 25px 0 black; 
    }

header a{
    color: black;
    text-decoration: none;
    display: inline-block;
    
}

header a:hover{
    color: rgb(145, 68, 196);
    transform: scale(1.10);
    
}
        
header nav ul{
    list-style-type: none;  
}

header nav ul li{
    display: inline-block;
    padding: 30px;
    
    button [disabled]{
        opacity: 0.8;
    }   
}
header .btn button{
    padding: 15px;
    font-size: 18;
    font-weight: 100;
    background-color: rgb(178, 52, 203);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    position: relative; 
    margin-right: 100px; 
}

header .btn button:hover{
    box-shadow: 0px 0px 8px rgb(246, 245, 246);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

#carrinho {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.produto-carrinho {
    width: 20%;

    min-width: 20vw;

    border: 1px solid #837e7e;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1em;
    font-weight: bolder;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.222);
}

.produto-carrinho img {
    padding: 1em;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 20px;
}

.produto-carrinho:hover {
    background-color: #dbdada;
    border: 1px solid #dbdada;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#preco {
    width: 15%;
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px RGB(0, 0, 0, 0.222);
}

#preco p {
    padding: 1em;
}

.btn-remover {
    border-radius: 10px;
    background-color: rgb(255, 103, 103);
    width: 80px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.37);
    margin: 10px;
    padding: 5px;
}

.btn-remover:hover {
    border-radius: 10px;
    background-color: rgb(209, 18, 18);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.37);
    color: white;
    transition-duration: .2s;
    cursor: pointer;
}

#btn-finalizar {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
    margin-top: 15px;
    border: 2px solid gray;
}

#btn-finalizar:hover {
    background-color: #347938;
}

#btn-limpar {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 15px;
    border: 2px solid gray;
}

#btn-limpar:hover {
    background-color: #ca322f;
    border: 2px solid white;
    transition-duration: .3s;
}
