* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    max-width: 100%;
    background-color: #dbdada;
    display: flex;
}

.rodape {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    color: black;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 4%;
    position: fixed;
    background-color: #d099e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape > h4 {
    font-weight: normal;
}

header > .interface {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d099e7;
    position: fixed;
    height: 10%;
    width: 100%;
    box-shadow: 0 0 15px 0 black;
    z-index: 1000;
}

header a {
    color: black;
    text-decoration: none;
    display: inline-block;

}

header a:hover {
    color: rgb(145, 68, 196);
    transform: scale(1.10);

}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;

}

header nav ul li {
    display: inline-block;
    padding: 10px;
}

header nav ul li button[disabled] {
    opacity: 0.8;
}

.btn a button {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn input {
    height: 30px;
    min-width: 200px;
}

.container-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.container-search button {
    margin-left: 8px;
}

.btn button {
    padding: 15px;
    font-size: 18;
    font-weight: 100;
    background-color: rgb(178, 52, 203);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    justify-content: start;
}

header .btn button:hover {
    box-shadow: 0px 0px 8px rgb(246, 245, 246);
}

.carrinho-side {
    width: 20%;
    height: 100%;
    margin-top: 4.9%;
    padding-bottom: 10em;
    right: 0px;
    position: fixed;
    overflow-y: auto;
    background: linear-gradient(to top, #653f97, #a67fd8);
    border: 1px solid #a67fd8;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.carrinho-side > h3 {
    background-color: rgb(240, 240, 243);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    border: 1px solid black;
}

input {
    height: 2em;
    width: 20em;
    border-radius: 4px;
}

#listaProdutos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 6%;
    padding-bottom: 3%;
}

main {
    max-width: 80%;
    height: calc(100vh - 14%);
}

.produto {
    border: 1px solid #837e7e;
    border-radius: 4px;
    padding: 2em;
    max-width: 20%;
    min-width: 15vw;
    margin: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(184, 184, 184);
}

.produto:hover {
    background-color: #dbdada;
    border: 1px solid  #dbdada;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.produto h3 {
    font-size: 1em;
    margin: 1em 0;
}

.produto p {
    font-size: 1em;
    color: #000000;
    font-weight: bold;
    margin: 1em;
}


.produto button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.produto button:hover {
    background-color: #218838;
}

#cart-product {
    display: flex;
    flex-direction: column;
}

.item-carrinho {
    border: 1px solid black;
    font-weight: 500;
    margin: 1em;
    padding: 1em;
    background-color: rgb(247, 247, 247);
    opacity: 85%;
}

.item-carrinho:hover {
    opacity: 100%;
}

.item-carrinho img {
    margin-top: 1em;
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
    display: block;
    margin: auto;
}

#total-price {
    background-color: rgb(190, 190, 190);
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px solid black;
}

#welcome-message {
    font-weight: bold;
    font-size: larger;
}

.btn-remover {
    margin-top: 7px;
    border-radius: 10px;
    background-color: rgb(255, 103, 103);   
    width: 50px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.37);
}

.btn-remover:hover {
    border-radius: 10px;
    background-color: rgb(209, 18, 18);
    width: 50px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.37);
    color: white;
    transition-duration: .2s;
}
